*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // background-color: #202124;
    font-family: 'Poiret one', sans-serif, -apple-system, BlinkMacSystemFont;
    color: #ffffff;
    overflow: hidden;
    background: #202124;
}

// nav 
.nav {
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 1em;
    // background: #2B2B2B;
    background: #202124;

    .logo {
        padding: .5em;

        img {
            height: 2.1em;
            transform: translateY(10px);
        }
    }

    // download-cta
    .download-cta {
        // padding: .4em 1.2em;
        height: 2.2em;
        width: 8em;
        border-radius: 2.8em;
        border: 2px solid rgba(0, 255, 255, 0.274);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 18px;
        text-decoration: none;
        text-transform: capitalize;
        color: aqua;
        font-weight: 900;
        transform: translateY(10px);
    }
}

.main-hero {
    background-color: #202124;
    height: calc(100vh - 3em);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;


    .product-info {
        padding-left: 1em;
        z-index: 200;

        .title {
            font-size: 40px;
            font-weight: 900;
        }

        .inspired-by {
            font-size: 18px;
            font-weight: 800;
            opacity: 0.5;
        }
    }

    .product-show {
        width: 65vw;
        height: 100%;
        display: flex;
        align-items: center;

        img {
            transform: translateY(-30px);
            position: relative;
            width: 100%;
            border-radius: 8px;
            box-shadow: 0 0 12px #1d1d1d;
        }
    }

    .feature-info {
        transition: 1000ms all;
        width: 25vw;
        position: absolute;
        right: 2em;
        bottom: 1.5em;
        font-weight: 900;
        font-size: 24px;

        .more-description {
            margin-top: 0.3em;
            font-size: 18px;
            font-weight: 700;
        }
    }

    .features-show {
        position: absolute;
        // right: 2em;
        bottom: 2em;
        display: flex;
        // justify-content: center;
        align-items: center;

        .feature-list {
            height: 3em;
            width: 3em;
            cursor: pointer;
            background: rgba(0, 255, 255, 0.07);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: .5em;

            svg {
                height: 1.8em;
            }
        }
    }

    .features-cta {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
            font-weight: 800;
            color: aqua;
        }

        svg {
            height: 2em;
            width: 2em;
        }
    }
}

.features {
    height: 100vh;
    // padding: .5em;

    .title {
        font-weight: 800;
        font-size: 36px;
        margin-top: 2em;
    }

    .feature-slide {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .details {

            .feature-title {
                display: flex;
                font-size: 40px;
                font-weight: 800;
                align-items: center;

                .icon {
                    padding-right: .6em;

                    svg {
                        height: 1.0em;
                    }
                }
            }

            .feature-info {
                padding-left: 3.1em;
                max-width: 45vw;
                font-size: 24px;
                font-weight: 600;
            }
        }

        .image {
            width: 55vw;
            height: 75vh;
            overflow: hidden;
            border-radius: 10px;

            img {
                height: 100%;
                width: auto;
                // transform: translateX(-10vh) translateY(-10vh);
            }
        }
    }
}